[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[core]
	editor = subl -n -w
	autocrlf = input
[user]
	name = Dave R
	email = dave@rouser.org
[log]
	date = iso
[help]
	format = html
[alias]
	lg = log --pretty=format:'%C(red)%h%Creset %C(blue)%an [%ad]%Creset %s %C(yellow)%d%Creset' --decorate --abbrev-commit --graph
	hist = log --pretty=format:'%C(red)%h%Creset %C(blue)%an [%ad]%Creset %s %C(yellow)%d%Creset' --decorate --abbrev-commit --stat
	remotes = remote -v
	s = status
    c = commit
    cm = commit -m 
    cam = commit -a -m
    ll = pull origin
    sh = push origin
    co = checkout
    

[pager]
	branch = false
[init]
	defaultBranch = main
[pull]
	rebase = true
