[user]
	name = Dave R
	email = dave@rouser.org
[core]
	editor = subl -n -w
[log]
    date = iso
[help]
    format = html
[alias]
    lg = log --pretty=format:'%C(red)%h%Creset %C(blue)%an [%ad]%Creset %s %C(yellow)%d%Creset' --decorate --abbrev-commit --graph    
    hist = log --pretty=format:'%C(red)%h%Creset %C(blue)%an [%ad]%Creset %s %C(yellow)%d%Creset' --decorate --abbrev-commit --stat
    remotes = remote -v
